#root{
    -fx-background-image: url("pictures/steamingPool.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


#introLabel{

    -fx-fill: white;
    -fx-font-family: "Apple SD Gothic Neo" ;
    -fx-alignment: center;
    -fx-font-size: 150px;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.label {
    -fx-font-size: 150px;
}

.cookie.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-font-family: "Lucida Grande";
    -fx-alignment: center;
    -fx-stroke-width: 3px;
}
#answerLabel{
    -fx-font-weight: bolder;
    -fx-text-fill: black;
    -fx-font-family: "Apple SD Gothic Neo" ;
    -fx-alignment: center;
    -fx-font-size: 30;
}


#magicBajic{
    -fx-background-image: url("pictures/biggerCatque.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 560 375;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


#dark-blue {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
#dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
